@use "../foundation/_variables.scss" as v;

.footer {
  background: v.$lightBlue;
  margin-top: auto;

  .footer__container {
    width: 100%;
    max-width: v.$contentWidth;
    margin: 0 auto;
    padding: 16px 24px;
  }

  // footer上部
  &__container--on {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer__img-jingi {
      background: v.$white;
      width: 45px;
      height: 45px;
      padding: 8px;
      border-radius: 50%;
    }

    .footer__privacy-policy {
      font-size: 0.8rem;
      color: v.$white;
      cursor: pointer;
    }

    .footer__container--left {
      display: flex;

      .footer__icon-x {
        width: 40px;
      }
      .footer__icon-line {
        width: 30px;
        padding: auto;
      }
    }
  }

  // footer下部（コピーライト）
  &__text-copy {
    display: block;
    text-align: right;
    font-size: 10px;
    color: v.$white;
  }
}
