@use '../foundation/_variables.scss' as v;

.footer {
  margin-top: auto;
  background: v.$lightBlue;
  padding: 16px 24px;

  // footer上部
  &__container--on {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer__img-jingi {
      background: v.$white;
      width: 45px;
      height: 45px;
      padding: 8px;
      border-radius: 50%;
    }

    #textPolicy {
      text-align: center;
      padding-top: 5px;
      font-size: 0.8rem;
      color: v.$white;
    }

    .footer__container--left {
      display: flex;

      .footer__icon-x {
        width: 40px;
      }
      .footer__icon-line {
        width: 30px;
        padding: auto;
      }
    }
  }

  // footer下部（コピーライト）
  &__text-copy {
    display: block;
    text-align: right;
    font-size: 0.5rem;
    color: v.$white;
  }
}
